.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #A92117;
  height: calc(100vh - 56px);
  width: 100%;
}