.Privacy {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: calc(100vh - 56px);

  /* The image used */
  color: white;
  background-image: url(../../img/7sins.png);
  height: calc(100vh - 56px);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  }

  .title {
    margin: 1.5em;
  }
  
  p, h2 {
    font-family: sans-serif;
    color: #FEE9E9;
  }
  
  a:link, a:visited {
    color: #FEE9E9;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: #FBA0A0;
  }
  
  #container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #a92117e3;
  }
 
