.Results {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #A92117;
    height: calc(100vh - 56px);
    width: 100%;
    color: white;
    margin: auto;
    padding: 4em;
}

.hell, .chart {
    flex: 50%;
}

#chart_container {
    background-color: white;
    border-radius: 100%;
    margin: auto;
    max-width: 25em;
}

.hell_chart_container {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 15%;
}

#img_result {
    border: 1em solid white;
}