.Results {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #A92117;
    height: calc(100vh - 56px);
    width: 100%;
    color: white;
}

img{
    border-radius: 15%;
}