.HOME {
    /* The image used */
    color: white;
    background-image: url(../../img/7sins.png);
    height: calc(100vh - 56px);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5em;
}

.title {
    margin: 1.5em;
}